on post-fs-data
    # Permissions for AKM8963 sensor
    chown system system /data/misc/akm_set.txt
    # Set wakeup_gesture SysFS
    write /sys/devices/virtual/input/clearpad/wakeup_gesture ${persist.sys.touch.wakeupgesture}

on boot
    # Disable Wi-Fi EAP SIM
    setprop ro.wifi.eap_sim_enabled false
    # Set wakeup_gesture SysFS
    write /sys/devices/virtual/input/clearpad/wakeup_gesture ${persist.sys.touch.wakeupgesture}

on fs
    wait /dev/block/platform/msm_sdcc.1/by-name/B2B
    exec /system/xbin/b2b_cust_backup
    exec /system/xbin/b2b_chkmount
